.level-0-container {
  border: 1px solid black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 20px;
  margin-left: 10px;
}

.counter {
  text-align: center;
  border: 1px solid grey;
  margin: 10px;
}

.async-variable {
  text-align: center;
  border: 1px solid red;
  margin: 10px;
}

.level-0 {
  display: flex;
}

app-level-1 {
  flex: 1;
}
